@import "variables";

.CalendarDay {
  padding: 0;
  box-sizing: border-box;
  color: $react-dates-color-gray;
  cursor: pointer;
}

.CalendarDay__button {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  box-sizing: border-box;
  &:focus {
    outline: 0;
    background: $react-dates-color-primary-shade-4;
  }
  &:active {
    outline: 0;
  }
}

// This order is important.
.CalendarDay--highlighted-calendar {
  background: $react-dates-color-highlighted;
  color: $react-dates-color-gray;
  cursor: default;

  &:active {
    background: $react-dates-color-secondary;
  }
}

.CalendarDay--today {
  border: 1px solid $react-dates-color-primary-shade-2;
}

.CalendarDay--outside {
  border: 0;
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}

.CalendarDay--hovered {
  background: lighten($react-dates-color-border-light, 3);
  color: inherit;
}

.CalendarDay--blocked-minimum-nights {
  color: $react-dates-color-gray-lighter;
  background: $react-dates-color-white;
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}

.CalendarDay--selected-span {
  background: $react-dates-color-primary-shade-2;
  color: $react-dates-color-gray;

  &.CalendarDay--hovered,
  &:active {
    background: $react-dates-color-primary-shade-1;
  }

  &.CalendarDay--last-in-range {
    border-right: $react-dates-color-primary;
  }
}

.CalendarDay--hovered-span,
.CalendarDay--after-hovered-start {
  background: $react-dates-color-primary-shade-4;
  color: $react-dates-color-secondary;

  &:active {
    background: $react-dates-color-primary-shade-3;
  }
}
.CalendarDay--selected-start {
  border-radius : 50% 0 0 50%;
  .CalendarDay__button {
    border-radius : 50%;
    background: $react-dates-color-primary;
  }
}
.CalendarDay--selected-end {
  border-radius : 0 50% 50% 0;
  .CalendarDay__button {
    border-radius : 50%;
    background: $react-dates-color-primary;
  }
}


.CalendarDay--selected-start,
.CalendarDay--selected-end,
.CalendarDay--selected {
  background: $react-dates-color-primary-shade-2;
  color: $react-dates-color-white;

  &:active {
    background: $react-dates-color-primary;
  }
}

.CalendarDay--blocked-calendar {
  background: $react-dates-color-gray-lighter;
  color: $react-dates-color-gray-light;
  cursor: default;

  &:active {
    background: $react-dates-color-gray-lighter;
  }
}

.CalendarDay--blocked-out-of-range {
  color: $react-dates-color-gray-lighter;
  background: $react-dates-color-white;
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}
